{
	"singleQuote": true,
	"trailingComma": "all",
	"useTabs": true,
	"semi": false,
	"arrowParens": "avoid",
	"jsxSingleQuote": true,
	"bracketSpacing": true,
	"printWidth": 75,
	"quoteProps": "as-needed",
	"bracketSameLine": true
}
